# Experiment selection
experiment:
  name: "era5_extrapolation" # toy_data_experiments, uci_regression, image_regression, ood_detection_regression, bandits, hpo_regression
  # hpo_classification, ood_detection_classification, experiments_classification
  sweep_id: ""

# Model selection
model:
  name: "Laplace" # FSPLaplace, SNGP, GP, GWI, SamplingLaplace, Laplace

# Model configuration 
laplace:
  neural_net:
    type: "MLP" # MLP, CNN
    architecture: [100, 100, 100, 100]
    activation_fn: "tanh"
    periodic_features: 0.11547016

  likelihood: 
    model: "Gaussian" # Gaussian, Categorical
    scale_init: 0.01
    n_classes: 2

  prior:
    scale_init: 2.083
    structure: "global" # parameterwise, layerwise, global

  training:
    mc_samples: 10
    nb_epochs: 1500
    lr: 0.0006815
    patience: 50
    pretrained_weights_path: ""
    save_weights: true
    validation_freq: 1

    mll:
      lr: 0.1
      n_iter: 0
      update_freq: 1
      n_epochs_burnin: 0
      cov_type: "map" # full, diag, map, last_layer

  inference:
    cov_type: "map" # full, diag, map, last_layer
    save_covariance: false
    covariance_path: ""
    pruning_covariance_path: "" 


# Dataset configuration 
data:
  name: "era5_summer" 
  # ToyData: truncated_sine, two_moons
  # UCI: boston, concrete, energy, kin8nm, naval, power, protein, wine, yacht, wave
  # Image: mnist, fashion_mnist, cifar10, svhn
  feature_dim: 1
  n_samples: 300
  batch_size: 10000
  k_folds: 5


era5:
  ds_path: "/home/bamler/bdz913/workspaces/functional_laplace/src/Data/era5_t2m.nc"
  #"/home/bamler/bdz913/workspaces/functional_laplace/src/Data/era5_t2m.nc"
  #"/Users/tristancinquin/Downloads/era5_t2m.nc"
  t_start: 3600 # 150*24
  t_idcs_max: 4320 # 3600 + 30*24 #  8750
  subsample_rate: {"longitude": 20, "latitude": 20, "time": 1}  
  patch_shape: {"longitude": 6, "latitude": 6, "time": 10}
  offset: "random" # random, none
  n_test_time_steps: 360 #720