# Experiment selection
experiment:
  name: "ood_detection_regression" # toy_data_experiments, uci_regression, image_regression, ood_detection_regression, bandits, hpo_regression
  # hpo_classification, ood_detection_classification, experiments_classification
  sweep_id: ""
  

# Model selection
model:
  name: "Ensemble" # FSPLaplace, SNGP, GP, GWI, SamplingLaplace, Laplace

ensemble:
  neural_net:
    type: "MLP" # MLP, CNN
    architecture: [50, 50]
    activation_fn: "relu"

  likelihood: 
    model: "Gaussian" # Gaussian, Categorical
    scale_init: 1.
    n_classes: 2

  prior:
    scale: 1.

  training:
    mc_samples: 10
    nb_epochs: 30000
    lr: 0.000317
    patience: 2000
    pretrained_weights_path: ""
    save_weights: false
    validation_freq: 100
    n_neural_nets: 10

# Dataset configuration 
data:
  name: "denmark" 
  # ToyData: truncated_sine, two_moons
  # UCI: boston, concrete, energy, kin8nm, naval, power, protein, wine, yacht, wave
  # Image: mnist, fashion_mnist, cifar10, svhn
  feature_dim: 1
  n_samples: 300
  batch_size: 1000
  k_folds: 5


bandits:
  name: "financial" # financial, mushroom, statlog, jester
  n_bandit_simulations: 5
  simulation_batch_size: 500 
  training_batch_size: 1000

